body {
	background-image: url("../img/background.jpg");
 	background-repeat: no-repeat;
 	background-size: cover; 	
    background-attachment: fixed;
    background-position: center;

 }

 .card-header {
 	cursor: pointer;
 }

 .jumbotron {
	
	background-image: url("../img/boston.jpg");
 	background-repeat: no-repeat;
 	background-size: cover;

 }